@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Kode+Mono:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {border: 0px Solid red}

body {
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(20,1fr);
  background-color: bisque;
}

dialog {
  background-color: rgba(46, 138, 34, 0.705);
}

#titlescreen {
  display: flex;
  flex: 1;
  grid-column: 1/20;
  grid-row: span 20;
  grid-template-columns: repeat(10,1fr);
}

.selectiondiv {
 display: flex;
 flex: 1;
 align-items: center;
 justify-content: center;
 gap: 40px;
}

.selectionBtns {
  height: 80px;
  width: 100px;
  border-radius: 10px;
  z-index: 1;
}

#titleTxt {
  font-family: "Cinzel", sans-serif;
  font-size: 15px;
  position: absolute; 
  top: 0;
  bottom: 0;
  grid-row: 10/20;
  margin-right: 8px;
  font-style: italic;
  color: rgba(209, 180, 49, 0.596);
}

#titleTxt:hover {
  cursor: default
}

#egyptImg {
  z-index: 1;
}

.selectionBtns:hover {
  cursor: pointer;
}

#difficultyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 30%;
  background-color: blueviolet;
  z-index: 1;
}

#board {
  grid-column: 8 / 13;
  grid-row: 6 / 16;
  min-width: 450px;
  min-height: 390px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board-divs {
  border: 1px solid pink;
  display: flex;
}